<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zjwam.qualification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".basic.QlftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.VideoQaDetailsActivity" />
        <activity android:name=".view.activity.AnswerActivity" />
        <activity android:name=".view.activity.WriteCommentActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.SearchResultActivity" />
        <activity android:name=".view.activity.MineNoteActivity" />
        <activity android:name=".view.activity.MineQAActivity" />
        <activity android:name=".view.activity.MineCommnetActivity" />
        <activity android:name=".view.activity.MineInfoActivity" />
        <activity android:name=".view.activity.MineAboutActivity" />
        <activity android:name=".view.activity.MineSetActivity" />
        <activity android:name=".view.activity.MineMsgActivity" />
        <activity android:name=".view.activity.ChangePassWorldActivity" />
        <activity android:name=".view.activity.AboutActivity"></activity>
    </application>

</manifest>